
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader svg{
    width: 228px !important;
    height: 228px !important;
}

#logo {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-55%) translateY(-50%);
  -webkit-transform: translateX(-55%) translateY(-50%);
  transform: translateX(-50%) translateY(-60%);
}

#particles-js{
    height: 130vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}