body, html{
	background-color: #000000;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#preloader{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 50%;
}

#logo{
	width: 70%;
	height: 70%;
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-55%) translateY(-50%);
    -webkit-transform: translateX(-55%) translateY(-50%);
    transform: translateX(-50%) translateY(-60%);
}

#particles-js{
    height: 130vh;
}

.about{
    background-color: #ffffff;
}



