<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BluStrings</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animations.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontpage.css') }}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secondpage.css') }}"> -->

	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<div id="preloader"></div>

	<div class="container" id="fullpage">
		<section class="section section-intro">
			<div class="section__content">
				<div id="particles-js" class="intro-particles"></div>
				<div class="intro-logo"></div>
			</div>
		</section>

		<section class="section section--animatable-content section--about">
			<div class="section__content">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">About Us</h2>
					<div class="partition__content">
						<p>BluStrings is a creation of the 21st Century, bringing in experience from different fields of science, communication and
						marketing; we offer a very niche end-product to our clients. We integrate our experiences in event planning and
						management that translates into our deliverables.</p>
						<p>Having been in the industry and sharing 18+ man-years of experience, we believe in our commitment to guarantee and deliver a successful event with seamless execution; providing a mix of
						professional services and creativity. We have created, managed & executed a plethora of events across the board.</p>
						<p>With a dedicated team that covers all avenues in building your project right from the ground up, we conceptualize and develop
						on comprehensive plans and ideas that suit your budget. Our team is with you at every step of the way.</p>
					</div>
				</div>
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/about_1.jpg" alt="About Us">
					</div>
				</div>
			</div>
		</section>

		<section class="section section--animatable-content section--e2e">
			<div class="section__content">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">End to End Event Solutions</h2>
					<div class="partition__content">
						<p>BluStrings understands the importance of celebrating an occasion. As the years pass, Social events, Cultural Shows,
						Music Festivals, Concept Events & Club Shows have only grown in number. At BluStrings we create and cater the perfect
						package with all-inclusive services from finalization of the venue to the complete production and execution of the show.
						Our team comprises of visionaries that are driven to inspire, create and add value to every project we take on with our
						clients. We believe in cost-effective performances, accountability and maintain timelines to deliver an excellent
						product as promised.</p>
					</div>
				</div>
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/end_1.jpg" alt="End 2 End Services">
					</div>
				</div>
			</div>
		</section>

		<section class="section section--animatable-content section--work">
			<div class="section__content">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">Our Work</h2>
					<div class="partition__content">
						<p>Our Exhibit showcases events across the various segments we have encountered. Each event came with its own sets of
						challenges and risk factors. BluStrings believes in the mantra of Creation, Cultivation and Curation through which we
						have been able to overcome any set of challenges resulting in these events that were impeccable and glamorous to the
						audience. BluStrings lays utmost importance on Quality, Inventiveness & Perfection to ensure that your event/show runs
						as crafted, whether it’s for a glamorous appeal or a night for everyone to remember.</p>
					</div>
				</div>
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/our_work.jpg" alt="Our Work">
					</div>
				</div>
			</div>
		</section>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lottie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/preloader.json') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/logo.json') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lottie-animations.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/frontpage.js') }}"></script>
</body>
</html>
