<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BluStrings</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animations.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onepage-scroll.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontpage.css') }}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secondpage.css') }}"> -->

	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

	<style>

	
		* {
		  box-sizing: border-box;
		}
		
		/* Create two equal columns that floats next to each other */
		.column {
		  float: left;
		  width: 50%;
		  padding: 4vh;
		  height: 100vh; /* Should be removed. Only for demonstration */
		}
		
		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		.parallax{
			z-index: 1;
			background-attachment: fixed;
  			background-position: center;
  			background-repeat: no-repeat;
			  background-size: cover;
			  display: flex;
		}

		.row{
			z-index: 10;
			height: 100vh;
			width: 100%;
		}
		</style>


</head>
<body>
		
		
		
	<div id="preloader"></div>

	<div class="container main" id="fullpage">
		<main style="position: fixed;z-index:10" class="section parallax section-intro">
			<div class="section__content">
				<div  id="particles-js" class="intro-particles"></div>
				<div style="position: fixed;" class="intro-logo"></div>
			</div>
		</main>
<!-- 
		<section class="section section--animatable-content section--about">
			<div class="section__content">
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/about_1.jpg" alt="About Us">
					</div>
				</div>
			</div>
		</section>

		<section class="section section--animatable-content section--e2e">
			<div class="section__content">
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/end_1.jpg" alt="End 2 End Services">
					</div>
				</div>
			</div>
		</section>

		<section class="section section--animatable-content section--work">
			<div class="section__content">
				<div class="section__partition partition partition--right">
					<div class="partition__content">
						<img src="../static/images/our_work.jpg" alt="Our Work">
					</div>
				</div>
			</div>
		</section> -->
		
<main class="middle">
		<div  id="about" class="row">
				<div id="aboutcol" class="column" style="background-color:#FFFF00;overflow: hidden;cursor:default">
						<h2 style="display:inline;border-bottom:1px solid #000;padding-bottom:1vh">About Us</h2>
						<p>BluStrings is a creation of the 21st Century, bringing in experience from different fields of science, communication and
						  marketing; we offer a very niche end-product to our clients. We integrate our experiences in event planning and
						  management that translates into our deliverables.</p>
						  <p>Having been in the industry and sharing 18+ man-years of experience, we believe in our commitment to guarantee and deliver a successful event with seamless execution; providing a mix of
						  professional services and creativity. We have created, managed & executed a plethora of events across the board.</p>
						  <p>With a dedicated team that covers all avenues in building your project right from the ground up, we conceptualize and develop
						  on comprehensive plans and ideas that suit your budget. Our team is with you at every step of the way.</p>
					  </div>
					  <div id="aboutimg" class="column" style="background-image:url('../static/images/about_1.jpg');background-size:cover;">
					  </div>
		</div>
</main>
<main class="middle">
		<div  id="e2e" class="row">
				<div id="e2ecol" class="column" style="background-color:#FFEA00;overflow: hidden;cursor:default">
						<h2 style="display:inline;border-bottom:1px solid #000;padding-bottom:1vh" >End to End Event Solutions</h2>
						<p>BluStrings understands the importance of celebrating an occasion. As the years pass, Social events, Cultural Shows,
								Music Festivals, Concept Events & Club Shows have only grown in number. At BluStrings we create and cater the perfect
								package with all-inclusive services from finalization of the venue to the complete production and execution of the show.
								Our team comprises of visionaries that are driven to inspire, create and add value to every project we take on with our
								clients. We believe in cost-effective performances, accountability and maintain timelines to deliver an excellent
								product as promised.</p>
					  </div>
					  <div id="e2eimg" class="column" style="background-image:url('../static/images/end_1.jpg');background-size:cover;">
					  </div>
		</div>
</main>
<main class="middle" >
		<div  id="our_work" class="row">
				<div id="our_workcol" class="column" style="background-color:#FFD600;overflow: hidden;cursor:default">
						<h2 style="display:inline;border-bottom:1px solid #000;padding-bottom:1vh">Our Work</h2>
						<p>Our Exhibit showcases events across the various segments we have encountered. Each event came with its own sets of
								challenges and risk factors. BluStrings believes in the mantra of Creation, Cultivation and Curation through which we
								have been able to overcome any set of challenges resulting in these events that were impeccable and glamorous to the
								audience. BluStrings lays utmost importance on Quality, Inventiveness & Perfection to ensure that your event/show runs
								as crafted, whether it’s for a glamorous appeal or a night for everyone to remember.</p>
					  </div>
					  <div id="our_workimg" class="column" style="background-image:url('../static/images/our_work.jpg');background-size:cover;">
					  </div>
		</div>
</main>
		  <style>
			* {box-sizing: border-box}

			
			/* Style tab links */
			.tablink {
			  background-color: #555;
			  color: black;
			  float: left;
			  border: none;
			  outline: none;
			  cursor: pointer;
			  padding: 5vh 6vh;
			  font-size: 17px;
			  width: 50%;
			  font-family: 'Raleway';
			  font-weight: 700;
			}
			
			.tablink:hover {
			  background-color: #777;
			}
			
			/* Style the tab content (and add height:100% for full page content) */
			.tabcontent {
			  color: black;
			  display: none;
			  padding: 3vh 5vh;
			  height: 100vh;
			}
			
			#Home {background-image: url('../static/images/bg9.png');}
			#News {background-image: url('../static/images/bg9.png');}
			</style>
			<main>
				<div id="part3" style="width: 100%;">
			<button class="tablink" onclick="openPage('Home', this)"  id="defaultOpen">SEGMENTS</button>
			<button class="tablink" onclick="openPage('News', this)">SERVICES</button>
			
			<div id="Home" class="tabcontent">
					<style>
							.grid-container {
							  display: grid;
							  grid-template-columns: auto auto auto auto;
							  background-color: transparent;
							  padding: 10px;
							  margin-top:8%;
							}
							.grid-item {
							  background-color: transparent;
							  border: 0px solid rgba(0, 0, 0, 0.8);
							  padding: 20px;
							  height: 20vh;
							  font-size: 10px;
							  text-align: center;
							  justify-content: center;
							  justify-items: center;
							  font-weight: 600;
							}
							.service-image{
								height: 80px;
								width:80px;
								margin-left:36%;
							}
							.service{
								text-align: center;
							}
							</style>
							
							
							<div class="grid-container">
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/conferences.png" class="service-image">
											<h4 class="service-description">CONFERENCES</h4>
										</div>
							  </div>
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/corporate.png" class="service-image">
											<h4 class="service-description">CORPORATE EVENTS</h4>
										</div>
							  </div>
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/social_events.png" class="service-image">
											<h4 class="service-description">SOCIAL EVENTS</h4>
										</div>
							  </div>  
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/end_to_end_av_solutions.png" class="service-image">
											<h4 class="service-description">END TO END EVENT SOLUTIONS</h4>
										</div>
							  </div>
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/entertainment.png" class="service-image">
											<h4 class="service-description">ENTERTAINMENT SHOWS</h4>
										</div>
							  </div>
							  <div class="grid-item">
									<div class="service">
											<img src="../static/images/icon/cultural_shows.png" class="service-image">
											<h4 class="service-description">CULTURAL SHOWS</h4>
										</div>
							  </div>  
							  <div class="grid-item"><div class="service">
									<img src="../static/images/icon/branding.png" class="service-image">
									<h4 class="service-description">TRADE SHOWS &amp; EXHIBITIONS</h4>
								</div></div> 
							</div>
			</div>
			
			<div id="News" class="tabcontent">
					<style>
							.grid-container {
							  display: grid;
							  grid-template-columns: auto auto auto auto;
							  background-color: transparent;
							  padding: 10px;
							  margin-top:8%;
							}
							.grid-item {
							  background-color: transparent;
							  border: 0px solid rgba(0, 0, 0, 0.8);
							  padding: 20px;
							  height: 25vh;
							  font-size: 10px;
							  text-align: center;
							  justify-content: center;
							  justify-items: center;
							}
							.service-image{
								height: 80px;
								width:80px;
								margin-left:36%;
							}
							.service{
								text-align: center;
							}
							</style>
							
							
							<div class="grid-container">

							  <div class="grid-item">
									<div class="service">
								<img src="../static/images/icon/sound.png" class="service-image">
								<h4 class="service-description">SOUND</h4>
							</div>
							  </div>
							  <div class="grid-item">
							  <div class="service">
									<img src="../static/images/icon/lights.png" class="service-image">
									<h4 class="service-description">LIGHTS</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/vision.png" class="service-image">
									<h4 class="service-description">VISION</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/registration.png" class="service-image">
									<h4 class="service-description">REGISTRATION MANAGEMENT</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/photography.png" class="service-image">
									<h4 class="service-description">PHOTOGRAPHY &amp; VIDEOGRAPHY</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/digital_systems.png" class="service-image">
									<h4 class="service-description">DIGITAL SYSTEMS</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/staging_styling.png" class="service-image">
									<h4 class="service-description">STAGING &amp; STYLING</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/branding.png" class="service-image">
									<h4 class="service-description">BRANDING</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/artist_management.png" class="service-image">
									<h4 class="service-description">ARTIST MANAGEMENT</h4>
								</div>
							</div>
							<div class="grid-item">
								<div class="service">
									<img src="../static/images/icon/manpower.png" class="service-image">
									<h4 class="service-description">MANPOWER MANAGEMENT</h4>
								</div>
							</div>
							  
							</div>
			</div>
		</div>
	</main>
			<script>
			function openPage(pageName,elmnt) {
			  var i, tabcontent, tablinks;
			  tabcontent = document.getElementsByClassName("tabcontent");
			  for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tablink");
			  for (i = 0; i < tablinks.length; i++) {
				tablinks[i].style.backgroundColor = "#777";
				tablinks[i].style.color = "#fff";
			  }
			  document.getElementById(pageName).style.display = "block";
			  elmnt.style.backgroundColor = "transparent";
			  elmnt.style.color = "#000";
			}
			
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("defaultOpen").click();
			</script>

		<!-- <section class="section section--segments">
			<div class="section__content">
				<div class="tab-element">
					<div class="tab-buttons">
						<button class="tab-button" type="button" data-target="section-segments" style="outline: none;" data-default-open>Segments</button>
						<button class="tab-button" type="button" data-target="section-services" style="outline: none;">Services</button>
					</div>
					<div class="tab-container">
						<div class="tab-content" id="section-segments">
							<div class="service">
								<img src="../static/images/icon/conferences.png" class="service-image">
								<h4 class="service-description">CONFERENCES</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/corporate.png" class="service-image">
								<h4 class="service-description">CORPORATE EVENTS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/social_events.png" class="service-image">
								<h4 class="service-description">SOCIAL EVENTS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/end_to_end_av_solutions.png" class="service-image">
								<h4 class="service-description">END TO END EVENT SOLUTIONS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/entertainment.png" class="service-image">
								<h4 class="service-description">ENTERTAINMENT SHOWS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/cultural_shows.png" class="service-image">
								<h4 class="service-description">CULTURAL SHOWS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/branding.png" class="service-image">
								<h4 class="service-description">TRADE SHOWS &amp; EXHIBITIONS</h4>
							</div>
						</div>
						<div class="tab-content" id="section-services">
							<div class="service">
								<img src="../static/images/icon/sound.png" class="service-image">
								<h4 class="service-description">SOUND</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/lights.png" class="service-image">
								<h4 class="service-description">LIGHTS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/vision.png" class="service-image">
								<h4 class="service-description">VISION</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/registration.png" class="service-image">
								<h4 class="service-description">REGISTRATION MANAGEMENT</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/photography.png" class="service-image">
								<h4 class="service-description">PHOTOGRAPHY &amp; VIDEOGRAPHY</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/digital_systems.png" class="service-image">
								<h4 class="service-description">DIGITAL SYSTEMS</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/staging_styling.png" class="service-image">
								<h4 class="service-description">STAGING &amp; STYLING</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/branding.png" class="service-image">
								<h4 class="service-description">BRANDING</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/artist_management.png" class="service-image">
								<h4 class="service-description">ARTIST MANAGEMENT</h4>
							</div>
							<div class="service">
								<img src="../static/images/icon/manpower.png" class="service-image">
								<h4 class="service-description">MANPOWER MANAGEMENT</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<!-- <div class="fixed-section">
			<div class="section section--about">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">About Us</h2>
					<div class="partition__content">
						<p>BluStrings is a creation of the 21st Century, bringing in experience from different fields of science, communication and
						marketing; we offer a very niche end-product to our clients. We integrate our experiences in event planning and
						management that translates into our deliverables.</p>
						<p>Having been in the industry and sharing 18+ man-years of experience, we believe in our commitment to guarantee and deliver a successful event with seamless execution; providing a mix of
						professional services and creativity. We have created, managed & executed a plethora of events across the board.</p>
						<p>With a dedicated team that covers all avenues in building your project right from the ground up, we conceptualize and develop
						on comprehensive plans and ideas that suit your budget. Our team is with you at every step of the way.</p>
					</div>
				</div>
			</div>
			<div class="section section--e2e">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">End to End Event Solutions</h2>
					<div class="partition__content">
						<p>BluStrings understands the importance of celebrating an occasion. As the years pass, Social events, Cultural Shows,
						Music Festivals, Concept Events & Club Shows have only grown in number. At BluStrings we create and cater the perfect
						package with all-inclusive services from finalization of the venue to the complete production and execution of the show.
						Our team comprises of visionaries that are driven to inspire, create and add value to every project we take on with our
						clients. We believe in cost-effective performances, accountability and maintain timelines to deliver an excellent
						product as promised.</p>
					</div>
				</div>
			</div>
			<div class="section section--work">
				<div class="section__partition partition partition--left">
					<h2 class="partition__title">Our Work</h2>
					<div class="partition__content">
						<p>Our Exhibit showcases events across the various segments we have encountered. Each event came with its own sets of
						challenges and risk factors. BluStrings believes in the mantra of Creation, Cultivation and Curation through which we
						have been able to overcome any set of challenges resulting in these events that were impeccable and glamorous to the
						audience. BluStrings lays utmost importance on Quality, Inventiveness & Perfection to ensure that your event/show runs
						as crafted, whether it’s for a glamorous appeal or a night for everyone to remember.</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>



	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lottie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/preloader.json') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/logo.json') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lottie-animations.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/frontpage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.onepage-scroll.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.onepage-scroll.min.js') }}"></script>
	<script>

		
		
$(".main").onepage_scroll({
   sectionContainer: "main",     // sectionContainer accepts any kind of selector in case you don't want to use section
   easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
                                    // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
   animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
   pagination: false,                // You can either show or hide the pagination. Toggle true for show, false for hide.
   updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
   beforeMove: function(index) {
	
		

   },  // This option accepts a callback function. The function will be called before the page moves.
   afterMove: function(index) {
	var curr = index - 2;
   },   // This option accepts a callback function. The function will be called after the page moves.
   loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
   keyboard: true,                  // You can activate the keyboard controls
   responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
                                    // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                    // the browser's width is less than 600, the fallback will kick in.
   direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".  
});
	


	var page2_sec = ['#aboutimg','#e2eimg','#our_workimg'];

	
	</script>

</body>
</html>
