<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frontpage.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	</head>
	<body>
		<div id="preloader"></div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lottie.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/preloader.json') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/preloader.js') }}"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script type="text/javascript">
			$(window).on('load', function() {
				$("#preloader").fadeOut("slow");
			});
		</script>
		<div class="container">
	  		<section class="background">
	  			<div class="intro">
					<div id="particles-js"></div>
					<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
					<div id='logo'></div>
					<script type="text/javascript" src="{{ url_for('static', filename='js/logo.json') }}"></script>
					<script type="text/javascript" src="{{ url_for('static', filename='js/lottie.js') }}"></script>
					<script type="text/javascript" src="{{ url_for('static', filename='js/logo.js') }}"></script>
				</div>
	  		</section>
	  		<section class="background about"></section>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script> 
		<script type="text/javascript" src="{{ url_for('static', filename='js/frontpage.js') }}"></script>
	</body>
</html>